# Visual Studio Code
.vscode/

# .NET
bin/
obj/
.vs/
.DS_Store

# NuGet
*.nuget.props
*.nuget.targets

# User-specific files
*.suo
*.user
*.userprefs
*.sln.docstates

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json